<div class="footer">
    <div class="contain">
        <div class="col">
            <h1>The Matrix</h1>
            <ul>
                <li>73, Gurojungang-ro 28-gil,<br>Guro-gu, Seoul, Republic of Korea</li>
                <li>matrix.ai.solution@gmail.com</li>
            </ul>
        </div>
        <div class="col">
            <h1>Our Company</h1>
            <ul>
                <li>About</li>
                <li>Mission</li>
                <li>Get in touch</li>
            </ul>
        </div>
        <div class="col">
            <h1>Services</h1>
            <ul>
                <li>AI Consulting</li>
                <li>AI Solution</li>
                <li>DynamiKontrol</li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>


<footer class="site-footer container">
    <div class="footer-inner">
        <div class="footer-left">
            <div class="copyright">
                {{@site.title}} © {{date format="YYYY"}}
            </div>
        </div>

        <nav class="footer-nav">
            {{navigation type="secondary"}}
        </nav>

        <div class="footer-right">
            <div class="social">
                {{#if @site.facebook}}
                    <a class="social-item social-item-facebook"
                        href="{{facebook_url @site.facebook}}" target="_blank"
                        rel="noopener noreferrer" aria-label="Facebook">
                        {{> icons/facebook}}
                    </a>
                {{/if}}

                {{#if @site.twitter}}
                    <a class="social-item social-item-twitter"
                        href="{{twitter_url @site.twitter}}" target="_blank"
                        rel="noopener noreferrer" aria-label="Twitter">
                        {{> icons/twitter}}
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
</footer>